@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,400;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,800&display=swap');


body {
  margin: 0;
  font-family: Poppins, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6f6 !important;
  color: #646464 !important;
  font-weight: 300 !important;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: Jost;
  margin: 0;
  color: #3bb2ec;
  font-weight: bold !important;
}

h1 {
  font-size: 2.4em;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
